{% extends "base.html" %}
{% block content %}

{% load static %}

{% if user.is_authenticated %}
<h3>Welcome, {{ user.username }}!</h3>
{% else %}
<h3>Welcome, guest.</h3>
{% endif %}

<h3>Products</h3>

<div class="container">
    <div class="row">
        {% for product in products %}
            <div class="col-md-6 mb-4">
                <div class="product-block">
                <h4>{{ product.name }}</h4>
                <p>{{ product.description }}</p>
                <p id="stock-{{product.id}}"> {% if product.stock < 5 %} 
                        {% if product.stock == 0 %} 
                            <span id="stock-status-{{product.id}}" style="color: red;">Out of stock!</span>
                        {% else %}
                            <span id="stock-status-{{product.id}}" style="color: red;">Only {{ product.stock }} left in stock!</span>
                        {% endif %}
                    {% endif %}
                </p>
                {% if product.stock > 0 %}
                <p id="stock-price-{{product.id}}">${{ product.price }}

                        <a href="{% url 'remove_one_from_cart' product.id %}">
                            <img src=" {% static 'images/button-minus-icon.png' %}" alt="Remove from Cart"
                                    style="width: 30px; height: 30px;">
                        </a>
                        {% for cart_item in cart_items %}
                            {% if cart_item.product == product %}
                                {% if cart_item.quantity > 0 %}
                                    <span>{{ cart_item.quantity }}</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <a href="{% url 'add_to_cart' product.id %}">
                            <img src=" {% static 'images/button-plus-icon.png' %}" alt="Add to Cart"
                                    style="width: 30px; height: 30px;">
                        </a>

                </p>
                {% endif %}
            </div>


            </div>
        {% endfor %}
    </div>
</div>

<!-- <script>
    setTimeout(function() {
        location.reload();
    }, 1000);
</script> -->

<script>
    let socket = new WebSocket("ws://127.0.0.1:8000/ws/stock/");

    socket.onmessage = function(event) {
        let data = JSON.parse(event.data);

        if (data.hasOwnProperty('id') && data.hasOwnProperty('stock')){
            location.reload();
        }

        // let productElement = document.getElementById(`stock-${data.id}`);
        // if (productElement) {
        // let stockStatusElement = document.getElementById(`stock-status-${data.id}`);
        // // let stockPriceElement = document.getElementById(`price-${data.id}`);
        
        // // Update the stock status message based on the new stock value
        // if (data.stock == 0) {
        //     stockStatusElement.textContent = "Out of stock!";
        //     stockStatusElement.style.color = "red";
        //     // stockPriceElement.textContent = "";
        // } else if (data.stock < 5) {
        //     stockStatusElement.textContent = `Only ${data.stock} left in stock!`;
        //     stockStatusElement.style.color = "red";
        // } else {
        //     stockStatusElement.textContent = "";
        // }
        // Update the stock value in the HTML
    // }
    };

    socket.onclose = function(event) {
        console.error("WebSocket closed unexpectedly");
    };
</script>

{% endblock %}